<div class="header">

    <div class="costado">
        <span></span>
    </div>
    <div class="centro">

    
        <div class="logo">
            <img src="../../../../assets/img/logo.jpg" alt="logo">
        </div>
    
        <div class="navegacion">
            <!-- nav bar -->
            <nav class="navbar navbar-expand-sm navbar-light ">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
                  <div class="navbar-nav mr-auto text-center">
                    <a class="nav-link" href="#">Voto Informado</a>
                    <a class="nav-item nav-link" href="#">Candidatos</a>
                    <a class="nav-item nav-link" href="#">Regionales</a>
                    <a class="nav-item nav-link" href="#">Municipales</a>
                    <a class="nav-item nav-link" href="#">Presidenciales</a>
                  </div>
                </div>
              </nav>
        </div>

    </div>
    
    <div class="costado">
        <span></span>
    </div>
</div>
