<div class="container pt-3">

<div class="container d-flex flex-row justify-content-between">
  
    <div class="card " style="width: 18rem;">
        <img src="../../../../assets/img/presidenciales.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Cantidatos Presidenciales</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/presidenciales.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Cantidatos Regionales</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/presidenciales.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Cantidatos Municipales</p>
        </div>
      </div>
    </div>
</div>