<div class="footer">
  <div class="container d-flex">
    <div class="modulo">
      <h3>Elige con Confianza</h3>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>

    <div class="modulo">
      <h3>Acerca de los candidatos</h3>
      <ul>
        <li><a href="#">Quienes son</a></li>
        <li><a href="#">Estudios Superiores</a></li>
        <li><a href="#">Plan de Gobierno</a></li>
        
      </ul>
    </div>

    <div class="modulo">
      <h3>Redes Sociales</h3>
      <ul class="d-flex">
        <li class="m-2"><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
        <li class="m-2"><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li class="m-2"><a href="#"><i class="fab fa-whatsapp-square fa-2x"></i></a></li>
      </ul>
      <p>Dirección:</p>
      <p>
        
      </p>

    </div>

    <div class="modulo">
      <h3 class="text-center">Medios de COmunicacion</h3>
      <div class="d-flex">
        <span ><img class="w-2 h-2" src="../../../../assets/img/logoComercio.png" alt="mercado pago"></span>
        <span ><img class="w-2 h-2" src="../../../../assets/img/logoComercio.png" alt="mercado pago"></span>
      </div>
    </div>
  </div>
</div>